@import url("https://fonts.googleapis.com/css?family=Lato:600,500,400,700|Inter:var(--body-medium-500-font-weight),var(--CAPTION-03-font-weight)");
@import "mixins.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4.8rem;
}

body {
  font-family: "Inter", Helvetica;
  max-width: 1440px;
  font-size: 1.6rem;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  height: 80px;
  min-height: 5vh;
  align-items: center;

  &.mobile-menu-active {
    & .menu-bar-container {
      & .cancel {
        display: block;
        z-index: 10;
      }
      & .menu {
        display: none;
      }
    }

    & nav {
      &.mobile-header {
        right: 0;
      }
    }
  }

  & .menu-bar-container {
    @include tablet {
      height: 100%;
      /* background: red; */
      display: flex;
      width: 50px;
      align-items: center;
      justify-content: end;
    }
    & .menu {
      display: none;
      @include tablet {
        width: 30px;
        height: 30px;
        position: absolute;
        display: block;
      }
    }

    & .cancel {
      display: none;
      @include tablet {
        width: 30px;
        height: 30px;
        position: absolute;
        // display: block;
      }
    }
  }
}

header .logo {
  height: 52px;
  min-width: 250px;
}

header img {
  width: 100%;
  height: 100%;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.8rem;
  @include tablet {
    display: none;
  }

  &.mobile-header {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      width: 50%;
      height: 100%;
      right: -500px;
      top: 0;
      z-index: 1;
      background-color: white;
      & ul {
        flex-direction: column;
        height: 100%;
        //   justify-content: space-around;
        margin-top: 10rem;
        gap: 10rem;
      }
    }
  }
}

header nav ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}

header nav ul li {
  list-style: none;
  text-decoration: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

.hero-banner {
  position: relative;

  & .banner-container {
    height: 100vh;
    & img {
      height: 100%;
      width: 100%;
    }
  }
}

.hero-banner .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.hero-banner .hero-content h1 {
  font-weight: 800;
  color: white;
  line-height: 60px;
  margin-bottom: 3rem;
}

.hero-banner .hero-content h5 {
  font-size: 1.7rem;
  color: white;
  font-weight: 500;
  margin-bottom: 5rem;
}

.hero-banner .hero-content .know-more {
  padding: 2rem 3rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  color: #7823b9;
  cursor: pointer;
}
